:root{
    --nav-height: min(8vw, 70px);
}

div {
    border: 0px solid;
}

#nav-bar{
    background-color: rgb(156, 156, 156);

    margin: auto;
    height: var(--nav-height);
    max-height: 10vw;
}

#view-cont{
    height: calc(100vh - var(--nav-height));
}

.nav-btn{
    height: inherit;
    width: calc(2.5 * var(--nav-height));
    float: left;
    border: none;
    background-color: rgb(156, 156, 156);
}

.nav-btn:hover{
    background-color: rgb(168, 168, 168);
}

#nav-1{
    margin-left: calc(50vw - (5 * var(--nav-height)));
}

#nav-2{
}

#nav-3{
}

#nav-4{
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}